In [1]:
import sys, os


import logging
import pandas as pd
import numpy as np
from pathlib import Path
# sys.path.insert(0,'..')
project_dir = str(Path(os.getcwd()).parent)
if not project_dir in sys.path:
    sys.path.insert(0,project_dir)
sys.path
from BankClassify import BankClassify, assign_target_account

In [2]:
logging.basicConfig(level=logging.DEBUG)

In [3]:
input_data_path =  Path('/Users/jangie/Documents/Finanzen/Detailed_Data')

In [4]:
# bc.data['dkb_3109'].index = len(bc.data['dkb_3109'])

In [5]:
bc = BankClassify(Path('../data'))

DEBUG:root:FFFFF /Users/jangie/Projects/DataScience/BankClassify/BankClassify.py
INFO:root:loaded previous dkb_3109 data 541 entries
INFO:root:loaded previous dkb_4217 data 1212 entries
INFO:root:train dataset size 1267

In [6]:
for f in Path('../data').glob('*.csv'):
    print(f.with_suffix('').name)

dkb_3109
dkb_4217

In [7]:
# bc.data

In [8]:
sorted([f for f in (input_data_path/'dkb').glob('*.csv')])

[PosixPath('/Users/jangie/Documents/Finanzen/Detailed_Data/dkb/1002423109.csv'),
 PosixPath('/Users/jangie/Documents/Finanzen/Detailed_Data/dkb/2020_1002423109.csv'),
 PosixPath('/Users/jangie/Documents/Finanzen/Detailed_Data/dkb/2020_1071944217.csv'),
 PosixPath('/Users/jangie/Documents/Finanzen/Detailed_Data/dkb/2021_1002423109.csv'),
 PosixPath('/Users/jangie/Documents/Finanzen/Detailed_Data/dkb/2021_1071944217.csv'),
 PosixPath('/Users/jangie/Documents/Finanzen/Detailed_Data/dkb/2022_1002423109.csv'),
 PosixPath('/Users/jangie/Documents/Finanzen/Detailed_Data/dkb/2022_1071944217.csv')]

In [9]:
filename = Path('/Users/jangie/Documents/Finanzen/Detailed_Data/dkb/1002423109.csv')

In [10]:
df_new = bc.read_dkb_csv(filename)

DEBUG:root:dropping 0 duplicated entries
INFO:root:number of data loaded: 70
DEBUG:root:new data from /Users/jangie/Documents/Finanzen/Detailed_Data/dkb/1002423109.csv with 70 entries, years [2022]

In [11]:
len(bc.data['dkb_3109'][bc.data['dkb_3109']['class'].isna()])

123

In [12]:
for k, v in bc.data.items():
    print(f"{k}: {len(v)} entires")

dkb_3109: 541 entires
dkb_4217: 1212 entires

In [13]:
df_new

,date,amount,desc,account_nr
0,2022-09-30,-315.64,Kartenzahlung/-abrechnung VIVA RESORT PROT.PRI...,1002423109
1,2022-09-30,-4.00,Kartenzahlung/-abrechnung H.RESORT SUPERMERCAD...,1002423109
2,2022-09-29,-39.99,Lastschrift Vodafone Deutschland GmbH 09/2022 ...,1002423109
3,2022-09-28,4157.32,"Lohn, Gehalt, Rente IAV GmbH Ingenieurgesellsc...",1002423109
4,2022-09-27,-69.00,Überweisung GISELA SILVA Rechnungs-Nr.: 142/20...,1002423109
...,...,...,...,...
65,2022-08-04,-40.00,Kartenzahlung/-abrechnung RESTAURANT SONNE GIR...,1002423109
66,2022-08-03,-100.00,Lastschrift European Bank for Financial Servic...,1002423109
67,2022-08-03,-23.00,Lastschrift GIRASOLES - SONNENBLUMEN Beitrag N...,1002423109
68,2022-08-02,-7.20,Kartenzahlung/-abrechnung Lagard re Travel Ret...,1002423109
69,2022-08-01,-2311.93,Lastschrift Aberdeen Standard Investments Deut...,1002423109

In [14]:
bc.add_data(df_new, f"dkb_{filename.with_suffix('').name[-4:]}")

DEBUG:root:adding dkb_3109 data!
DEBUG:root:previous dataset 541 entries
DEBUG:root:new dataset 70 entries with 0 new ones

ValueError: negative dimensions are not allowed

In [15]:
bc.data_unlabeled

                   date   amount  \
dkb_3109 477 2022-09-30  -315.64
         478 2022-09-30    -4.00
         479 2022-09-29   -39.99
         480 2022-09-28  4157.32
         481 2022-09-27   -69.00
...                 ...      ...
         536 2022-08-15   -29.05
         537 2022-08-11    -7.00
         538 2022-08-09   -75.00
         539 2022-08-08  -116.01
         540 2022-08-08   -61.00

                                                           desc  account_nr  \
dkb_3109 477  Kartenzahlung/-abrechnung VIVA RESORT PROT.PRI...  1002423109
         478  Kartenzahlung/-abrechnung H.RESORT SUPERMERCAD...  1002423109
         479  Lastschrift Vodafone Deutschland GmbH 09/2022 ...  1002423109
         480  Lohn, Gehalt, Rente IAV GmbH Ingenieurgesellsc...  1002423109
         481  Überweisung GISELA SILVA Rechnungs-Nr.: 142/20...  1002423109
...                                                         ...         ...
         536  Kartenzahlung/-abrechnung ROSSMANN VIELEN DANK...  1002423109
         537  Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...  1002423109
         538  Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...  1002423109
         539  Kartenzahlung/-abrechnung AMBROSINO SUPERMARKT...  1002423109
         540  Lastschrift VATTENFALL EUROPE SALES S/83663436...  1002423109

             target account class
dkb_3109 477            NaN   NaN
         478            NaN   NaN
         479            NaN   NaN
         480            NaN   NaN
         481            NaN   NaN
...                     ...   ...
         536            NaN   NaN
         537            NaN   NaN
         538            NaN   NaN
         539            NaN   NaN
         540            NaN   NaN

[64 rows x 6 columns]

In [16]:
df_update = assign_target_account(bc.data_unlabeled)
df_update

DEBUG:root:assigning 2 entries to paypal

                   date   amount  \
dkb_3109 477 2022-09-30  -315.64
         478 2022-09-30    -4.00
         479 2022-09-29   -39.99
         480 2022-09-28  4157.32
         481 2022-09-27   -69.00
...                 ...      ...
         536 2022-08-15   -29.05
         537 2022-08-11    -7.00
         538 2022-08-09   -75.00
         539 2022-08-08  -116.01
         540 2022-08-08   -61.00

                                                           desc  account_nr  \
dkb_3109 477  Kartenzahlung/-abrechnung VIVA RESORT PROT.PRI...  1002423109
         478  Kartenzahlung/-abrechnung H.RESORT SUPERMERCAD...  1002423109
         479  Lastschrift Vodafone Deutschland GmbH 09/2022 ...  1002423109
         480  Lohn, Gehalt, Rente IAV GmbH Ingenieurgesellsc...  1002423109
         481  Überweisung GISELA SILVA Rechnungs-Nr.: 142/20...  1002423109
...                                                         ...         ...
         536  Kartenzahlung/-abrechnung ROSSMANN VIELEN DANK...  1002423109
         537  Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...  1002423109
         538  Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...  1002423109
         539  Kartenzahlung/-abrechnung AMBROSINO SUPERMARKT...  1002423109
         540  Lastschrift VATTENFALL EUROPE SALES S/83663436...  1002423109

             target account class
dkb_3109 477            NaN   NaN
         478            NaN   NaN
         479            NaN   NaN
         480            NaN   NaN
         481            NaN   NaN
...                     ...   ...
         536            NaN   NaN
         537         paypal   NaN
         538         paypal   NaN
         539            NaN   NaN
         540            NaN   NaN

[64 rows x 6 columns]

In [17]:
df_update.loc['dkb_3109']

,date,amount,desc,account_nr,target account,class
477,2022-09-30,-315.64,Kartenzahlung/-abrechnung VIVA RESORT PROT.PRI...,1002423109,NaN,NaN
478,2022-09-30,-4.00,Kartenzahlung/-abrechnung H.RESORT SUPERMERCAD...,1002423109,NaN,NaN
479,2022-09-29,-39.99,Lastschrift Vodafone Deutschland GmbH 09/2022 ...,1002423109,NaN,NaN
480,2022-09-28,4157.32,"Lohn, Gehalt, Rente IAV GmbH Ingenieurgesellsc...",1002423109,NaN,NaN
481,2022-09-27,-69.00,Überweisung GISELA SILVA Rechnungs-Nr.: 142/20...,1002423109,NaN,NaN
...,...,...,...,...,...,...
536,2022-08-15,-29.05,Kartenzahlung/-abrechnung ROSSMANN VIELEN DANK...,1002423109,NaN,NaN
537,2022-08-11,-7.00,"Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...",1002423109,paypal,NaN
538,2022-08-09,-75.00,"Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...",1002423109,paypal,NaN
539,2022-08-08,-116.01,Kartenzahlung/-abrechnung AMBROSINO SUPERMARKT...,1002423109,NaN,NaN
540,2022-08-08,-61.00,Lastschrift VATTENFALL EUROPE SALES S/83663436...,1002423109,NaN,NaN

In [18]:
bc.data.keys()

dict_keys(['dkb_3109', 'dkb_4217'])

In [19]:
bc.update_data(df_update)

DEBUG:root:updating dataset_name: dkb_3109

ffff Index(['date', 'amount', 'desc', 'account_nr', 'target account', 'class'], dtype='object')

In [20]:
bc.data_unlabeled

                   date   amount  \
dkb_3109 477 2022-09-30  -315.64
         478 2022-09-30    -4.00
         479 2022-09-29   -39.99
         480 2022-09-28  4157.32
         481 2022-09-27   -69.00
...                 ...      ...
         534 2022-08-15   -55.08
         535 2022-08-15   -48.00
         536 2022-08-15   -29.05
         539 2022-08-08  -116.01
         540 2022-08-08   -61.00

                                                           desc  account_nr  \
dkb_3109 477  Kartenzahlung/-abrechnung VIVA RESORT PROT.PRI...  1002423109
         478  Kartenzahlung/-abrechnung H.RESORT SUPERMERCAD...  1002423109
         479  Lastschrift Vodafone Deutschland GmbH 09/2022 ...  1002423109
         480  Lohn, Gehalt, Rente IAV GmbH Ingenieurgesellsc...  1002423109
         481  Überweisung GISELA SILVA Rechnungs-Nr.: 142/20...  1002423109
...                                                         ...         ...
         534  Lastschrift Rundfunk ARD, ZDF, DRadio Rundfunk...  1002423109
         535  Überweisung GISELA SILVA Rechnungs-Nr.: 100/20...  1002423109
         536  Kartenzahlung/-abrechnung ROSSMANN VIELEN DANK...  1002423109
         539  Kartenzahlung/-abrechnung AMBROSINO SUPERMARKT...  1002423109
         540  Lastschrift VATTENFALL EUROPE SALES S/83663436...  1002423109

             target account class
dkb_3109 477            NaN   NaN
         478            NaN   NaN
         479            NaN   NaN
         480            NaN   NaN
         481            NaN   NaN
...                     ...   ...
         534            NaN   NaN
         535            NaN   NaN
         536            NaN   NaN
         539            NaN   NaN
         540            NaN   NaN

[62 rows x 6 columns]

In [23]:
bc.save_data()