# infos

With this notebook, we can label the datasets, we train a model that proposes the correct class, and we either confirm or asign the correct class

In [33]:
import sys, os


import logging
import pandas as pd
import numpy as np
from pathlib import Path
# sys.path.insert(0,'..')
project_dir = str(Path(os.getcwd()).parent)
if not project_dir in sys.path:
    sys.path.insert(0,project_dir)
sys.path
from BankClassify import BankClassify

In [34]:

%load_ext autoreload

%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Debug levels:
|Level | Numeric value|
|---|---|
|CRITICAL | 50|
|ERROR | 40|
|WARNING| 30|
|INFO| 20|
|DEBUG| 10|
|NOTSET| 0|

In [35]:
logging.basicConfig(level=logging.INFO)

# Label data

### load data and create classifier

In [36]:
bc = BankClassify(Path('../data'))

INFO:root:loaded previous dkb_3109 data 541 entries
INFO:root:loaded previous paypal data 1017 entries
INFO:root:loaded previous dkb_4217 data 1212 entries
INFO:root:train dataset size 2219

In [41]:
data_unlabeled = bc.data_unlabeled
print(f"{len(data_unlabeled)} unlabeled entries")
predictions = bc._make_predictions(data_unlabeled)

122 unlabeled entries

In [38]:
# predictions.columns = ['class_guess', 'class_prob']
# predictions

### make guess

##### order by class probability

In [39]:
data_unlabeled_with_guess = pd.concat([data_unlabeled, predictions], ignore_index=False, axis=1, copy=False, join='inner')
data_unlabeled_with_guess.sort_values('class_prob', inplace=True) # sort such that the ones with the highest uncertainty come first
data_unlabeled_with_guess

                              datetime  amount  \
paypal 735   2022-05-17 12:25:43+00:00  -14.43
       831   2022-07-20 18:16:56+00:00  -40.77
       40    2020-11-16 19:40:19+00:00   -2.00
       397   2021-09-06 21:35:54+00:00  -76.00
       1009  2022-12-09 00:21:18+00:00  -59.99
...                                ...     ...
       481   2021-11-02 06:11:37+00:00   -5.25
       455   2021-10-08 17:56:55+00:00  -24.00
       840   2022-08-05 16:48:50+00:00  -75.00
       687   2022-04-26 10:10:31+00:00  -13.00
       369   2021-08-25 11:19:25+00:00  -19.00

                                                          desc target account  \
paypal 735                                 flyeralarm GmbH                NaN
       831                Discount Party Supplies Australia               NaN
       40                             Clara Jongen   Geschenk             NaN
       397   Booking.com BV  Hotel at Booking.com  Hotel at...            NaN
       1009                Fashion ID GmbH & Co. KG Germany               NaN
...                                                        ...            ...
       481                         Digital Lab Germany  kafea             NaN
       455                            Ngu & Ngo GbR Germany               NaN
       840        Daiane Kich   Curso de drinks - Camila Lobo             NaN
       687   HEMA GmbH & Co KG Germany 975622775963  975622...            NaN
       369   Alexander Belt   Vinted Payment von Camila Gie...            NaN

            class                    class_guess  class_prob
paypal 735    NaN               Public Transport    0.185151
       831    NaN             Restaurants & Bars    0.201523
       40     NaN           Income - Investments    0.201849
       397    NaN           Income - Investments    0.209002
       1009   NaN          Out-of-pocket expense    0.216407
...           ...                            ...         ...
       481    NaN          Out-of-pocket expense    0.671357
       455    NaN             Restaurants & Bars    0.675480
       840    NaN  Bill - Utilities, Rent & Fees    0.809051
       687    NaN  Home Improvement & Stationary    0.819622
       369    NaN           Income - Investments    0.874026

[122 rows x 7 columns]

##### order by value

In [40]:
data_unlabeled_with_guess = pd.concat([data_unlabeled, predictions], ignore_index=False, axis=1, copy=False, join='inner')
data_unlabeled_with_guess.sort_values('amount', inplace=True, ascending=True) # sort such that the ones with the highest uncertainty come first
data_unlabeled_with_guess

                             datetime  amount  \
paypal 265  2021-05-17 18:34:29+00:00  -90.00
       33   2020-11-12 00:51:18+00:00  -89.09
       737  2022-05-19 19:17:30+00:00  -89.00
       977  2022-11-21 20:08:27+00:00  -84.99
       526  2021-12-05 09:04:30+00:00  -84.54
...                               ...     ...
       435  2021-09-26 18:59:24+00:00   -1.00
       487  2021-11-06 21:39:30+00:00   -1.00
       363  2021-08-16 17:45:45+00:00   -1.00
       724  2022-05-12 10:23:45+00:00   -0.90
       495  2021-11-15 15:43:59+00:00   -0.77

                                                         desc target account  \
paypal 265  Reservix GmbH Germany Diese Rechnungsposition ...            NaN
       33                                                                NaN
       737                      CTS Eventim AG & Co. KGaA                NaN
       977  Galeria Karstadt Kaufhof GmbH Germany 75465335...            NaN
       526  PayPal  Ihre Bestellung bei REWE (Lieferservic...            NaN
...                                                       ...            ...
       435  SOS-Kinderdorf e.V. Germany Donation via PayPa...            NaN
       487  SOS-Kinderdorf e.V. Germany Donation via PayPa...            NaN
       363  SOS-Kinderdorf e.V. Germany Donation via PayPa...            NaN
       724  PayPal  Deine Bestellung bei REWE  Deine Beste...            NaN
       495  Paddle.com Market Limited  500k monthly pagevi...            NaN

           class             class_guess  class_prob
paypal 265   NaN    Income - Investments    0.498359
       33    NaN  Income - Reimbursement    0.241820
       737   NaN    Income - Investments    0.473898
       977   NaN    Income - Investments    0.495152
       526   NaN    Income - Investments    0.485294
...          ...                     ...         ...
       435   NaN    Income - Investments    0.499157
       487   NaN    Income - Investments    0.499157
       363   NaN    Income - Investments    0.499157
       724   NaN    Income - Investments    0.477276
       495   NaN    Income - Investments    0.405719

[122 rows x 7 columns]

### interactively ask if guess is correct

In [9]:
# bc.prob_threshold = 1

In [42]:
df = bc._ask_with_guess(data_unlabeled_with_guess)

INFO:root:asking with guess, total 122

============================================================
==== to exit interactive mode enter "q" and hit enter ======
============================================================
On: 2021-05-17 18:34:29+00:00	 -90.00
Reservix GmbH Germany Diese Rechnungsposition bildet den Gesamtbetrag Ihrer Bestellung ab.  Diese Rechnungsposition bildet den Gesamtbetrag Ihrer Bestellung ab.
My guess is: Income - Investments 49.84%

>  q

exiting ...

In [28]:
len(data_unlabeled_with_guess)

130

In [29]:
# data_unlabeled_with_guess

<a id=â€™section_updateâ€™></a>
### update the dataset

In [30]:
bc.update_data(data_unlabeled_with_guess)

In [31]:
# bc.data['dkb'].update(data_unlabeled_with_guess[data_unlabeled_with_guess.columns[~data_unlabeled_with_guess.columns.isin(['class_guess', 'class_prob'])]])

#### save dataset

In [32]:
bc.save_data()

### manual labeling

after asigning the labels or the target account go to [Section Update](#section_update) to update and save the data to disk.

##### add target account

In [23]:
data_unlabeled_with_guess[data_unlabeled_with_guess['target account'].isna()]

,date,amount,desc,account_nr,target account,class,class_guess,class_prob
1602,2022-03-08,-25.30,Kartenzahlung/-abrechnung CAFE IM LITERATURHAU...,1.071944e+09,NaN,NaN,Home Improvement & Stationary,0.311130
656,2021-11-01,-17.00,Kartenzahlung/-abrechnung DORINT GMBH GIR 6929...,1.071944e+09,NaN,NaN,Restaurants & Bars,0.372674
652,2021-11-01,-123.80,Kartenzahlung/-abrechnung DORINT GMBH GIR 6929...,1.071944e+09,NaN,NaN,Restaurants & Bars,0.372674
749,2021-09-13,-10.68,Kartenzahlung/-abrechnung DANKE FLEISCHEREI GL...,1.071944e+09,NaN,NaN,Supermarket & Everyday commodities,0.471710
682,2021-10-18,-25.72,Kartenzahlung/-abrechnung DANKE FLEISCHEREI GL...,1.071944e+09,NaN,NaN,Supermarket & Everyday commodities,0.471710
...,...,...,...,...,...,...,...,...
1206,2022-05-30,500.00,Gutschrift DR.ST. U. C. GIESELER Alles Gute zu...,1.002423e+09,NaN,NaN,Income - Presents,0.999417
334,2021-05-26,4111.75,Gutschrift DR.ST. U. C. GIESELER Betrag Aktien...,1.002423e+09,NaN,NaN,Income - Presents,0.999656
520,2020-07-01,-2229.12,Lastschrift Aberdeen Asset Management Deutschl...,1.002423e+09,NaN,NaN,"Bill - Utilities, Rent & Fees",0.999687
1171,2022-07-04,-120.00,Ãœberweisung EDITH ESPINOZA DE THIEKE Rechn.Nr....,1.002423e+09,NaN,NaN,"Bill - Utilities, Rent & Fees",0.999821
410,2021-02-02,12.50,Gutschrift DR.ST. U. C. GIESELER Dividende aus...,1.002423e+09,NaN,NaN,Income - Presents,0.999851

In [56]:
bc.data['dkb']['target account'].unique()

array(['paypal', nan, 'Sabadell', 'dkb', 'credit card'], dtype=object)

In [143]:
# data_unlabeled_with_guess

In [55]:
credit_indecies = data_unlabeled_with_guess['desc'].str.lower().str.contains('Gutschrift Jan Gieseler'.lower())
credit_indecies.sum()
data_unlabeled_with_guess[credit_indecies]

,date,amount,desc,account_nr,target account,class,class_guess,class_prob
554,2020-02-04,1000.00,Gutschrift JAN GIESELER poupar ...,1.002423e+09,NaN,NaN,Public Transport,0.885461
551,2020-02-19,2500.00,Gutschrift JAN GIESELER poupen ...,1.002423e+09,NaN,NaN,Public Transport,0.885461
547,2020-03-26,2500.00,Gutschrift JAN GIESELER popen ...,1.002423e+09,NaN,NaN,Public Transport,0.885461
341,2021-05-11,12548.11,Gutschrift JAN GIESELER kontoaufloesung ...,1.002423e+09,NaN,NaN,Public Transport,0.885461
467,2020-10-28,2750.00,Gutschrift JAN GIESELER restbetrag ...,1.002423e+09,NaN,NaN,Public Transport,0.885461
516,2020-07-14,2500.00,Gutschrift JAN GIESELER reserve ...,1.002423e+09,NaN,NaN,Public Transport,0.885461
437,2020-12-08,2750.00,Gutschrift JAN GIESELER kontoaufloesung ...,1.002423e+09,NaN,NaN,Public Transport,0.885461
512,2020-07-27,2500.00,Gutschrift JAN GIESELER reserve ...,1.002423e+09,NaN,NaN,Public Transport,0.885461
539,2020-04-24,2500.00,Gutschrift JAN GIESELER spargeld ...,1.002423e+09,NaN,NaN,Public Transport,0.885461
522,2020-06-26,2500.00,Gutschrift JAN GIESELER poupa ...,1.002423e+09,NaN,NaN,Public Transport,0.885461

In [57]:
data_unlabeled_with_guess.loc[credit_indecies, 'target account'] = 'Sabadell'

In [58]:
data_unlabeled_with_guess[credit_indecies]

,date,amount,desc,account_nr,target account,class,class_guess,class_prob
554,2020-02-04,1000.00,Gutschrift JAN GIESELER poupar ...,1.002423e+09,Sabadell,NaN,Public Transport,0.885461
551,2020-02-19,2500.00,Gutschrift JAN GIESELER poupen ...,1.002423e+09,Sabadell,NaN,Public Transport,0.885461
547,2020-03-26,2500.00,Gutschrift JAN GIESELER popen ...,1.002423e+09,Sabadell,NaN,Public Transport,0.885461
341,2021-05-11,12548.11,Gutschrift JAN GIESELER kontoaufloesung ...,1.002423e+09,Sabadell,NaN,Public Transport,0.885461
467,2020-10-28,2750.00,Gutschrift JAN GIESELER restbetrag ...,1.002423e+09,Sabadell,NaN,Public Transport,0.885461
516,2020-07-14,2500.00,Gutschrift JAN GIESELER reserve ...,1.002423e+09,Sabadell,NaN,Public Transport,0.885461
437,2020-12-08,2750.00,Gutschrift JAN GIESELER kontoaufloesung ...,1.002423e+09,Sabadell,NaN,Public Transport,0.885461
512,2020-07-27,2500.00,Gutschrift JAN GIESELER reserve ...,1.002423e+09,Sabadell,NaN,Public Transport,0.885461
539,2020-04-24,2500.00,Gutschrift JAN GIESELER spargeld ...,1.002423e+09,Sabadell,NaN,Public Transport,0.885461
522,2020-06-26,2500.00,Gutschrift JAN GIESELER poupa ...,1.002423e+09,Sabadell,NaN,Public Transport,0.885461

In [46]:
credit_indecies.sum()

7

##### set labels

In [169]:
indecies = data_unlabeled_with_guess['desc'].str.lower().str.contains('Katchi'.lower())
data_unlabeled_with_guess[indecies]

,date,amount,desc,account_nr,target account,class,class_guess,class_prob
1327,2022-07-26,-2.8,Kartenzahlung/-abrechnung SumUp .Katchi Ice Cr...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.541483
1326,2022-07-26,-2.1,Kartenzahlung/-abrechnung SumUp .Katchi Ice Cr...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.541483
933,2021-06-21,-3.6,Kartenzahlung/-abrechnung SumUp .Katchi Ice Cr...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.541483
903,2021-07-08,-1.8,Kartenzahlung/-abrechnung SumUp .Katchi Ice Cr...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.541483
850,2021-07-30,-5.4,Kartenzahlung/-abrechnung SumUp .Katchi Ice Cr...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.541483
804,2021-08-23,-3.6,Kartenzahlung/-abrechnung SumUp .Katchi Ice Cr...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.541483
1571,2022-03-22,-7.2,Kartenzahlung/-abrechnung SumUp .Katchi Ice Cr...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.541483
205,2020-08-12,-1.8,Kartenzahlung/-abrechnung SumUp .Katchi Ice Cr...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.541483
171,2020-09-07,-3.6,Kartenzahlung/-abrechnung SumUp .Katchi Ice Cr...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.541483
159,2020-09-17,-3.6,Kartenzahlung/-abrechnung SumUp .Katchi Ice Cr...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.541483
179,2020-09-01,-3.6,Kartenzahlung/-abrechnung SUMUP .KATCHI ICE CR...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.838434
189,2020-08-26,-1.8,Kartenzahlung/-abrechnung SUMUP .KATCHI ICE CR...,1.071944e+09,NaN,NaN,Holidays - Accomodation,0.838434

In [170]:
data_unlabeled_with_guess.loc[indecies, 'class'] = 'Restaurants & Bars'

In [ ]:
# label_dict = {
#     'Supermarket & Everyday commodities': ['Kartenzahlung/-abrechnung REWE', 'Kartenzahlung/-abrechnung EDEKA', 'Kartenzahlung/-abrechnung DIRK ROSSMANN', 'Kartenzahlung/-abrechnung DANKE, IHR LIDL', 'Kartenzahlung/-abrechnung DM', 'Kartenzahlung/-abrechnung MUELLER SAGT DANKE'],
#     'Bill - Communications': ['Lastschrift Vodafone Deutschland GmbH'],
#     'Bill - Utilities, Rent & Fees': ['Lastschrift Aberdeen Standard Investments'],
#     'Income - Salary & Benefits': ['Lohn, Gehalt, Rente IAV GmbH', 'Lohn, Gehalt, Rente Hertie School', 'Gutschrift SavingBuddies e. V. Honorar'],
#     'Income - Reimbursement': ['Gutschrift IAV GmbH'],
#     'Public Transport': ['SWAPFIETS']
# }

# for label_desc, desc_list in label_dict.items():
#     # label = {v:k for k, v in categories.items()}[label_desc]
    
#     label_index = pd.DataFrame([df_dkb['desc'].str.contains(desc) for desc in desc_list]).T.any(axis=1)
    
    
#     df_dkb.loc[label_index, 'class'] = label_desc # label

# rest

In [8]:
# dkb_data = pd.read_csv('../data/dkb.csv', index_col=0)
# dkb_data['date'] = pd.to_datetime(dkb_data['date'], format = '%Y-%m-%d')
# dkb_data

,date,amount,desc,account_nr,target account,class
0,2020-12-29,-8.00,"Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...",1071944217,paypal,NaN
1,2020-12-22,-9.98,"Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...",1071944217,paypal,NaN
2,2020-12-22,-35.84,"Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...",1071944217,paypal,NaN
3,2020-12-22,-33.39,"Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...",1071944217,paypal,NaN
4,2020-12-21,-5.37,Kartenzahlung/-abrechnung REWE SAGT DANKE. 426...,1071944217,NaN,15.0
...,...,...,...,...,...,...
1684,2022-01-18,-35.70,"Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...",1071944217,paypal,NaN
1685,2022-01-18,-12.99,"Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...",1071944217,paypal,NaN
1686,2022-01-11,-228.09,"Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...",1071944217,paypal,NaN
1687,2022-01-10,-89.96,"Lastschrift PAYPAL (EUROPE) S.A.R.L ET CIE,S.C...",1071944217,paypal,NaN
1688,2022-01-07,-19.50,Lastschrift SWAPFIETS BY BUCKAROO Swapfiets: D...,1071944217,NaN,13.0

array([[nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan]])

   class_guess  class_prob
0          NaN         NaN
1          NaN         NaN
2          NaN         NaN
3          NaN         NaN
4          NaN         NaN